$color-REGULAITION-BLUE: #112E45;
$color-INFO-ALERT-OUTLINE-TEXT: #1976D2;
$color-INFO-ALERT-BACKGROUND: #E3F2FD;
$color-TEXT-PRIMARY: #424242;
$color-TEXT-SECONDARY: #757575;
$color-TITLE-CARD-BACKGROUND: #ECEFF1;
$color-DISABLED-BUTTON: #F5F5F5;
$color-EMPTY-STATE: #F9FAFB;
$color-LWF-COMPLETE-TEXT-OUTLINE: #33691E;
$color-SUCCESS-ICON-OUTLINE: #4CAF50;
$color-DONE-STATUS: #689F38;
$color-WF-IN-PROGRESS: #388E3C;
$color-LWF-COMPLETE-BACKGROUND: rgba(104, 159, 56, 0.35);
$color-SUCCESS-ICON-BACKGROUND: rgba(76, 175, 79, 0.2);
$color-ICON-SUCCESS-BACKGROUND: #DCEDC8;
$color-LWF-BLOCKED-TEXT-OUTLINE: #D50000;
$color-LWF-BLOCKED-BACKGROUND: #FFCDD2;
$color-LWF-ERROR-ALERT-BACKGROUND: #FFEBEE;
$color-REGULATION-RED: #FF1546;
$color-IN-PROGRESS-STATUS: #FFD600;
$color-LWF-PENDING-ORG-TEXT: #CF8D05;
$color-PENDING-STATUS-OUTLINE-TEXT: #FB8C00;
$color-IN-PROGRESS-STATUS: #FFD600;
$color-PENDING-BLOCK-BACKGROUND: #FFFDE7;
